.drinkImg{
    width:250px;
    
}

.drinkTitle{
    text-align: center;
    color:var(--color-yellow)
}



.cocktail{
    width:60%;
}

.cocktail div,table,.cocktail img{
    margin: 1rem;
}

th, td{
    padding:0.2rem 1rem;
    color:var(--color-yellow)
}